- provide(:title, @article.title)

%h3 #{@article.title}
%h4 By #{@article.author.name}
%h5 Published: #{@article.published}
%h5 Last Updated: #{@article.edited}
%h5 Article Shortname (To Delete): #{@article.shortname}

= render "articles/article#{@article.id}"
%h3
  Comments (#{@article.comments.count})
= render 'shared/comment_form', article: @article
%ol.comments= render @comments
= will_paginate @comments