%header.header
  .container
    = link_to "VictorChannel", root_path, id: "logo"
    .div
      %ul.headerlist
        %li= link_to "Home", root_path
        - if signed_in?
          %li= link_to "Profile", current_user
          %li= link_to "Settings", edit_user_path(current_user)
          %li |
          %li= link_to "Sign out", signout_path, method: "delete"
        - else
          %li= link_to "Sign up", signup_path
          %li= link_to "Sign in", signin_path